@import "tailwindcss";
@plugin "daisyui" {
  themes:
    dark --default,
    light --prefersdark,
    night;
}
@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat-alternates/MontserratAlternates-Medium.ttf") format("truetype");

    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
}
@theme {
  --font-monserat: "Montserrat", sans-serif;
  --animate-fade-in: fade-in 0.3s ease-in-out;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
