<table class="table table-md mt-2 w-full">
  <thead>
    <tr>
      <th>#</th>
      <th>Icono</th>
      <th>Bandera</th>
      <th>Nombre</th>
      <th>Capital</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (country of countries(); track $index;let index = $index) {
    <tr>
      <td>{{ index + 1 }}</td>
      <td>
        <img
          src="{{ country.flag }}"
          alt="{{ country.name }}"
          class="w-8 h-6 object-cover rounded"
        />
      </td>
      <td>{{ country.name }}</td>
      <td>{{ country.capital }}</td>
      <td>{{ country.population }}</td>
      <td>
        <a href="#" class="link-primary cursor-pointer" >Más Información</a>
      </td>
    </tr>
    }
  </tbody>
</table>
